*/*/*.classpath
*/*/*.gitignore
*/*/*.project
*/*/.settings/*
*/*/target/classes/*
*/devTools/*
.idea
*/*/*.iml
*/*.iml
redis/redis-jedis/target
*/*/target
*/target

javase/.idea/libraries/*.xml
javase/.idea/workspace.xml
javase/*/target/*

javaee/*/target/*
*/*/target/*

*/redis/*
