*/*/.factorypath
*/*/*/.factorypath
*/*/*/*.classpath
*/*/*.classpath
*/*/*.gitignore
*/*/*.project
*/*/*/*.project
*/*/.settings/*
*/*/target/classes/*
*/*/target/classes/*
*/devTools/*
.idea
.idea/*
.idea/*.xml
.idea/*/*.xml
*/*/*/*.iml
*/*/*.iml
*/*.iml
*.iml
*/target
*/*/target/*
*/*/*/target
*.class
*/*.class
*/*/*.class
*/*/*/*.class
*/*/*/*/*.class
*/*/*/*/*/*.class
*/redis/*
*/.idea

.metadata
*.settings
*/*.settings
*/*.project
RemoteSystemsTempFiles
*/*/.externalToolBuilders/
